body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 18px;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

line{
  content:'';
  display:block;
  width:75%;
  border:1px solid;
  margin-bottom: 4px;
}
table {border-collapse: collapse;}

.fa, .fas {cursor: pointer;}
.fas.fa-arrow-alt-circle-down {color: mediumvioletred;}
.fas.fa-arrow-alt-circle-up {color: lightseagreen;}

.fa.fa-th {
  transition: text-shadow .3s ease-in-out;
  color: deepskyblue;
  &:hover {text-shadow: 2px 2px 4px black;}
}

.fa.fa-list {
  transition: text-shadow .3s ease-in-out;
  color: darkgoldenrod;
  &:hover {text-shadow: 2px 2px 4px black;}
}

@media(max-width:1020px) {
  line {width: 100%;}
}
@media(max-width:768px) {
  line {width: 100%;}
}